@charset "UTF-8";
body {
  color: #0d0d55;
  background-color: #d2c7ff;
}

.atividade1 {
  /*Aninhamento usando form colocamos as caracteristicas de tudo dentro do form em um lugar só */
}
.atividade1 h1,
.atividade1 h2,
.atividade1 h3 {
  color: #0d0d55;
}
.atividade1 button {
  background-color: #d2c7ff;
  border: 2px solid #070005;
}
.atividade1 .bt-secundario {
  background-color: #070005;
  border: 2px solid #0d0d55;
  margin: 5px;
  padding: 10px;
}
.atividade1 input {
  border: 2px solid #0d0d55;
  padding: 10px;
}
.atividade1 form input {
  border: 2px solid #d9f203;
  padding: 5px;
}
.atividade1 form button {
  background-color: #d9f203;
  border: 2px solid #0d0d55;
}

/*Herança criamos alterações iguais sem ficar*/
.atividade2 .campos, .atividade2 .botao-terciario, .atividade2 .botao-secundario, .atividade2 .botao-primario {
  padding: 5px;
  border: 2px solid #d9f203;
  text-transform: uppercase;
}
.atividade2 .titulo, .atividade2 h3, .atividade2 h1 {
  background-color: #070005;
}
.atividade2 .botao-primario {
  background-color: aquamarine;
}
.atividade2 .botao-primario:hover {
  background-color: rgb(0, 102.5, 0);
  border-color: rgb(0, 102.5, 0);
}
.atividade2 .botao-secundario {
  background-color: red;
}
.atividade2 .botao-secundario:hover {
  background-color: #ff9999;
  border-color: #ff9999;
}
.atividade2 .botao-terciario {
  background-color: orange;
}
.atividade2 .botao-terciario:hover {
  background-color: rgb(229.5, 148.5, 0);
  border-color: rgb(229.5, 148.5, 0);
}
.atividade2 h1 {
  color: #d2c7ff;
}
.atividade2 h3 {
  color: #d9f203;
}

.atividade3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.atividade3 .card-primario {
  background-color: #d9f203;
  color: #0d0d55;
  border-radius: 10px;
  border: 2px solid #d9f203;
  width: 70px;
  height: 70px;
  padding: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 10px #070005;
}
.atividade3 .card-secundario {
  background-color: #0d0d55;
  color: #d2c7ff;
  border-radius: 10px;
  border: 2px solid #0d0d55;
  width: 70px;
  height: 70px;
  padding: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 10px #070005;
}
.atividade3 .card-terciario {
  background-color: #0d0d55;
  color: #d9f203;
  border-radius: 10px;
  border: 2px solid #0d0d55;
  width: 70px;
  height: 70px;
  padding: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 2px 10px #070005;
}

.loops .col-1 {
  width: 8.3333333333%;
}
.loops .col-2 {
  width: 16.6666666667%;
}
.loops .col-3 {
  width: 25%;
}
.loops .col-4 {
  width: 33.3333333333%;
}
.loops .col-5 {
  width: 41.6666666667%;
}
.loops .col-6 {
  width: 50%;
}
.loops .col-7 {
  width: 58.3333333333%;
}
.loops .col-8 {
  width: 66.6666666667%;
}
.loops .col-9 {
  width: 75%;
}
.loops .col-10 {
  width: 83.3333333333%;
}
.loops .col-11 {
  width: 91.6666666667%;
}
.loops .col-12 {
  width: 100%;
}
.loops div {
  height: 50px;
  background-color: blue;
  border: 2px solid white;
}
.loops .linha {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.animacoes button {
  background-color: #564697;
  transition: background-color 1s, transform 1s;
  padding: 10px;
}
.animacoes button:hover {
  background-color: #d9f203;
  transform: scale(1.5);
}