$cor-primaria: #d2c7ff;
$cor-secundaria: #0d0d55;
$cor-terciaria: #d9f203;
$cor-quartenaria: #070005;
$tamanho: 10px;

body {
    color: $cor-secundaria;
    background-color: $cor-primaria;
}

.atividade1 {

    h1,
    h2,
    h3 {
        color: $cor-secundaria;
    }

    button {
        background-color: $cor-primaria;
        border: 2px solid $cor-quartenaria;
    }

    .bt-secundario {
        background-color: $cor-quartenaria;
        border: 2px solid $cor-secundaria;
        margin: 5px;
        padding: $tamanho;
    }

    input {
        border: 2px solid $cor-secundaria;
        padding: $tamanho;
    }

    /*Aninhamento usando form colocamos as caracteristicas de tudo dentro do form em um lugar só */
    form {

        input {
            border: 2px solid $cor-terciaria;
            padding: 5px;
        }

        button {
            background-color: $cor-terciaria;
            border: 2px solid $cor-secundaria;
        }
    }
}

/*Herança criamos alterações iguais sem ficar*/
.atividade2 {
    $cor-botao-primario: green;
    $cor-botao-secundario: red;
    $cor-botao-terciario: orange;

    .campos {
        padding: 5px;
        border: 2px solid $cor-terciaria;
        text-transform: uppercase;
    }

    .titulo {
        background-color: $cor-quartenaria;
    }

    .botao-primario {
        @extend .campos;
        background-color: aquamarine;
    }

    .botao-primario:hover {
        background-color: darken($cor-botao-primario, 5%);
        border-color: darken($cor-botao-primario, 5%);
    }

    .botao-secundario {
        @extend .campos;
        background-color: red;
    }

    .botao-secundario:hover {
        background-color: lighten($cor-botao-secundario, 30%);
        border-color: lighten($cor-botao-secundario, 30%);
    }

    .botao-terciario {
        @extend .campos;
        background-color: orange;
    }

    .botao-terciario:hover {
        background-color: darken($cor-botao-terciario, 5%);
        border-color: darken($cor-botao-terciario, 5%);
    }

    h1 {
        @extend .titulo;
        color: $cor-primaria;
    }

    h3 {
        @extend .titulo;
        color: $cor-terciaria;
    }
}

.atividade3 {

display: flex;
flex-direction: row;
justify-content: space-around;

@mixin card-styles ($bg-color, $text-color, $border-radius){
    background-color:  $bg-color;
    color: $text-color;
    border-radius: $border-radius;
    border: 2px solid $bg-color;
    width: 70px;
    height: 70px;
    padding: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 10px $cor-quartenaria;
}

.card-primario{
    @include card-styles ($cor-terciaria,$cor-secundaria,$tamanho);
}

.card-secundario{
    @include card-styles ($cor-secundaria,$cor-primaria,$tamanho);
}

.card-terciario{
    @include card-styles ($cor-secundaria,$cor-terciaria,$tamanho);
}
}
.loops{
    $tamanhoTela:12;
    @for $i from 1 through $tamanhoTela {
        .col-#{$i}{
            width: calc(100%/$tamanhoTela) * $i;
        }
    }

    div{
        height: 50px;
        background-color: blue;
        border: 2px solid white;
    }

    .linha{
        display: flex;
        flex-direction: row;
        background-color: white;
    }


}