body {
  background-color: #E6F4FF;
}

img {
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav img {
  width: 40px;
  height: 40px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding: 5px;
}
nav li:hover {
  background-color: rgb(170.7333333333, 101.4, 245.4);
}
nav a {
  text-decoration: none;
  color: rgb(39, 3, 39);
}

main {
  background-image: url("https://m.media-amazon.com/images/I/71jsgnrWfbL._AC_UF894,1000_QL80_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h4 {
  color: rgb(39, 3, 39);
}

input {
  border: 2x solid #28054e;
  margin: 5px;
  border-radius: 5px;
}

button {
  background-color: #B06FF6;
  border-color: #28054e;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(189.1666666667, 135, 247.5);
  border-radius: 5px;
}

label {
  font-size: 15px;
  color: white;
}

.ultimos-conteudos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ultimos-conteudos h2 {
  display: flex;
  justify-content: center;
}
.ultimos-conteudos table {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.ultimos-conteudos th {
  border-bottom: 2px solid #5d458f;
  color: rgb(39, 3, 39);
  padding: 10px;
}
.ultimos-conteudos td {
  border-bottom: 1px solid #5d458f;
  padding: 30px;
}
.ultimos-conteudos .col1 {
  background-color: #B06FF6;
  min-width: 80%;
  color: white;
  text-transform: uppercase;
}
.ultimos-conteudos .col3 {
  background-color: #28054e;
  min-width: 80%;
  color: white;
  text-transform: uppercase;
}
.ultimos-conteudos .col4 {
  background-color: rgb(63, 14, 63);
  min-width: 80%;
  color: white;
  text-transform: uppercase;
}
.ultimos-conteudos .assunto {
  display: flex;
  justify-content: center;
}
.ultimos-conteudos .avaliar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ultimos-conteudos .avaliar .like {
  color: green;
}
.ultimos-conteudos .avaliar .dlike {
  color: red;
}
.ultimos-conteudos .avaliar .star {
  color: gold;
}
.ultimos-conteudos .botao {
  display: flex;
  justify-content: center;
}
.ultimos-conteudos .botao button {
  background-color: #B06FF6;
  border-color: #28054e;
  border-radius: 5px;
}
.ultimos-conteudos .botao button:hover {
  background-color: rgb(189.1666666667, 135, 247.5);
  border-radius: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5d458f;
}
footer .col-1 {
  width: 8.3333333333%;
}
footer .col-2 {
  width: 16.6666666667%;
}
footer .col-3 {
  width: 25%;
}
footer .col-4 {
  width: 33.3333333333%;
}
footer .col-5 {
  width: 41.6666666667%;
}
footer .col-6 {
  width: 50%;
}
footer .col-7 {
  width: 58.3333333333%;
}
footer .col-8 {
  width: 66.6666666667%;
}
footer .col-9 {
  width: 75%;
}
footer .col-10 {
  width: 83.3333333333%;
}
footer .col-11 {
  width: 91.6666666667%;
}
footer .col-12 {
  width: 100%;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer li {
  list-style: none;
}