$cor-primaria: #B06FF6;
$cor-secundaria: #28054e;
$cor-texto-primaria:rgb(39, 3, 39);
$cor-texto-secundaria:white;

body {
    background-color: #E6F4FF;
}

img {
    width: 40px;
    height: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
        width: 40px;
        height: 40px;
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: 5px;
    }

    li:hover {
        background-color: darken($cor-primaria, 2%);
    }

    a {
        text-decoration: none;
        color: $cor-texto-primaria;
    }
}

main {
    background-image: url("https://m.media-amazon.com/images/I/71jsgnrWfbL._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 500px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h4 {
    color: $cor-texto-primaria;
}

input {
    border: 2x solid $cor-secundaria;
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: $cor-primaria;
    border-color: $cor-secundaria;
    border-radius: 5px;
}

button:hover {
    background-color: lighten($cor-primaria, 5%);
    border-radius: 5px;
}

label{
    font-size: 15px;
    color: $cor-texto-secundaria;
}

.ultimos-conteudos{
    table{
        width: 100%;
        color:$cor-secundaria;
        text-align: center;
    }

    td{
        border: 2px solid $cor-secundaria;
    }
}