body {
  background-color: #E6F4FF;
}

img {
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav img {
  width: 40px;
  height: 40px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding: 5px;
}
nav li:hover {
  background-color: rgb(170.7333333333, 101.4, 245.4);
}
nav a {
  text-decoration: none;
  color: rgb(39, 3, 39);
}

main {
  background-image: url("https://m.media-amazon.com/images/I/71jsgnrWfbL._AC_UF894,1000_QL80_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h4 {
  color: rgb(39, 3, 39);
}

input {
  border: 2x solid #28054e;
  margin: 5px;
  border-radius: 5px;
}

button {
  background-color: #B06FF6;
  border-color: #28054e;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(189.1666666667, 135, 247.5);
  border-radius: 5px;
}

label {
  font-size: 15px;
  color: white;
}

.ultimos-conteudos table {
  width: 100%;
  color: #28054e;
  text-align: center;
}
.ultimos-conteudos td {
  border: 2px solid #28054e;
}