$cor-primaria: #B06FF6;
$cor-secundaria: #28054e;
$cor-texto-primaria: rgb(39, 3, 39);
$cor-texto-secundaria: white;
$cor-texto-terciaria: rgb(63, 14, 63);
$cor-borda: #5d458f;

body {
    background-color: #E6F4FF;
}

img {
    width: 40px;
    height: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
        width: 40px;
        height: 40px;
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: 5px;
    }

    li:hover {
        background-color: darken($cor-primaria, 2%);
    }

    a {
        text-decoration: none;
        color: $cor-texto-primaria;
    }
}

main {
    background-image: url("https://m.media-amazon.com/images/I/71jsgnrWfbL._AC_UF894,1000_QL80_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h4 {
    color: $cor-texto-primaria;
}

input {
    border: 2x solid $cor-secundaria;
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: $cor-primaria;
    border-color: $cor-secundaria;
    border-radius: 5px;
}

button:hover {
    background-color: lighten($cor-primaria, 5%);
    border-radius: 5px;
}

label {
    font-size: 15px;
    color: $cor-texto-secundaria;
}

.ultimos-conteudos {

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        display: flex;
        justify-content: center;
    }

    @mixin tabelaUCA ($tamBorda) {
        border-bottom: $tamBorda solid $cor-borda;
    }

    @mixin assuntos ($caixacolorida, $tamcaixa) {
        background-color: $caixacolorida;
        min-width: $tamcaixa;
        color: white;
        text-transform: uppercase;
    }


    table {
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    th {
        @include tabelaUCA(2px);
        color: $cor-texto-primaria;
        padding: 10px;
    }

    td {
        @include tabelaUCA(1px);
        padding: 30px;

    }

    .col1 {
        @include assuntos($cor-primaria, 80%);

    }

    .col3 {
        @include assuntos($cor-secundaria, 80%);

    }

    .col4 {
        @include assuntos($cor-texto-terciaria, 80%);

    }

    .assunto {
        display: flex;
        justify-content: center;
    }

    .avaliar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .like {
            color: green;
        }

        .dlike {
            color: red;
        }

        .star {
            color: gold;
        }
    }

    .botao {
        display: flex;
        justify-content: center;

        button {
            background-color: $cor-primaria;
            border-color: $cor-secundaria;
            border-radius: 5px;
        }

        button:hover {
            background-color: lighten($cor-primaria, 5%);
            border-radius: 5px;
        }
    }

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:$cor-borda;

    $tamanhoTela: 12;

    @for $i from 1 through $tamanhoTela {
        .col-#{$i} {
            width: calc(100%/$tamanhoTela) * $i;
        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    li {
        list-style: none;
    }

}